.badge {
    display: inline-block;
    padding: $small-space ($small-space * 2);
    font-size: rem-calc(9);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $border-radius;
    // map through social networks
    @each $network in map-keys(map-get($config, networks)) {
	  	&.#{$network} {
			background-color: map-fetch($config, networks $network colour );
            color: map-fetch($config, networks $network text );
		}
	}
    // map through the themes
    @each $theme in map-keys(map-get($config, themes)) {
		&.#{$theme} {
            background-color: map-fetch($config, themes $theme colour );
			color: map-fetch($config, themes $theme text );
		}
	}

    // map through the themes
    @each $notification in map-keys(map-get($config, notifications)) {
		&.#{$notification} {
            background-color: map-fetch($config, notifications $notification colour );
			color: map-fetch($config, notifications $notification text );
		}
	}
}
