//button generators
@mixin button-bg($bg, $txt) {
    background: $bg;
    color: $txt;
    &:hover,
    &:focus,
    &:active {
        background: darken($bg, $button-darken);
        transition: all $button-transition ease;
    }
}
//button generators
@mixin button-hollow($border, $txt) {
    background: transparent;
    border: 1px solid $border;
    color: $txt;
    &:hover,
    &:focus,
    &:active {
        border: 1px solid darken($border, $button-darken);
        transition: all $button-transition ease;
        color: #ffffff;
        background: $border;
    }
}

.button,
.cn-button,
input[type='button'],
input[type='submit'] {
    background-color: $primary;
    border-radius: ($small-space * 5);
    color: #ffffff;
    margin: 0;
    padding: 0 $large-space;
    font-size: rem-calc(14);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    height: $large-space;
    font-family: $body-font-family;
    overflow: hidden;
    transition: 0.3s ease all;
    @include breakpoint($small-only) {
        width: 100%;
    }
    &:hover,
    &:focus,
    &:active {
        transition: 0.3s ease all;
    }

    // map over themes
    @each $theme in map-keys(map-get($config, themes)) {
        &.#{$theme} {
            @include button-bg(map-fetch($config, themes $theme colour), map-fetch($config, themes $theme text));
            &.hollow {
                @include button-hollow(map-fetch($config, themes $theme colour), map-fetch($config, themes $theme colour));
            }
        }
    }

    @each $theme in map-keys(map-get($config, networks)) {
        &.#{$theme} {
            @include button-bg(map-fetch($config, networks $theme colour), map-fetch($config, networks $theme text));
            &.hollow {
                @include button-hollow(map-fetch($config, networks $theme colour), map-fetch($config, networks $theme colour));
            }
        }
    }

    @each $theme in map-keys(map-get($config, notifications)) {
        &.#{$theme} {
            @include button-bg(map-fetch($config, notifications $theme colour), map-fetch($config, notifications $theme text));
            &.hollow {
                @include button-hollow(map-fetch($config, notifications $theme colour), map-fetch($config, notifications $theme colour));
            }
        }
    }



    &.dark {
        @include button-bg(#000000, #ffffff);
        &.hollow {
            @include button-hollow(#000000, #000000);
        }
    }
    &.light {
        @include button-bg(#ffffff, $body-font-color);
        &.hollow {
            @include button-hollow(#ffffff, #ffffff);
        }
    }
}
