//Rem Calc
@function rem-calc($font-size) {
    $rem-size: $font-size / 16;
    @return #{$rem-size}rem;
}
// import site specific styles after the rem math
@import '../site/config.scss';
// Deep Get
@function map-fetch($map, $keys) {
    $key: nth($keys, 1);
    $length: length($keys);
    $value: map-get($map, $key);
    @if ($length > 1) {
        $rest: ();
        @for $i from 2 through $length {
            $rest: append($rest, nth($keys, $i));
        }
        @return map-fetch($value, $rest);
    } @else {
        @return $value;
    }
}
// set the standard for the pseufo code block
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}
// @include pseudo;
@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}
// @include input-placeholder {
//     color: $grey;
// }
@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}
// .site-header {
//     z-index: z('site-header');
// }
@mixin fade($type) {
    @if $type == 'hide' {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s;
    } @else if $type == 'show' {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
    }
}
// @include fade(hide)
// @include fade(show)
// z-indexes
@function z-index($key) {
    @return map-get($z-index, $key);
}
@mixin z-index($key) {
    z-index: z-index($key);
}
// @include z-index(navigation);
// slice & dice to return a friendly hex val
@function url-friendly-colour($colour) {
    @return '%23' + str-slice('#{$colour}', 2, -1);
}
// tint
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
//shade
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
