// Headline
@mixin heading {
    color: $body-font-color;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: ($xlarge-space / 2);
    font-style: normal;
    font-family: $header-font-family;
    padding: 10px $medium-space;
    display: inline-block;
    box-decoration-break: clone;
    font-weight: Regular;

    // map over themes
    @each $theme in map-keys(map-get($config, themes)) {
        &.#{$theme} {
            color: map-fetch($config, themes $theme text);
        }
    }

    &.border {
        margin-bottom: $xlarge-space;
        &:after {
            content: '';
            border-bottom: 1px solid $primary;
            height: 1px;
            width: 100px;
            @extend .horizontal-center;
            bottom: -$medium-space;
        }
    }
}
@mixin h1 {
    @include heading;
    font-size: $headline1;
    line-height: $headline1;
    @include breakpoint($small-only) {
        font-size: rem-calc(50);
    }
}
@mixin h2 {
    @include heading;
    font-size: $headline2;
    line-height: $headline2;
    @include breakpoint($small-only) {
        font-size: rem-calc(30);
    }
}
@mixin h3 {
    @include heading;
    line-height: $headline3;
    font-size: $headline3;
}
@mixin h4 {
    @include heading;
    font-size: $headline4;
    line-height: $headline4;
    @include breakpoint($small-only) {
        font-size: rem-calc(16);
    }
}
@mixin h5 {
    @include heading;
    font-size: $headline5;
    line-height: $headline5;
    @include breakpoint($small-only) {
        font-size: rem-calc(14);
    }
}
@mixin h6 {
    @include heading;
    font-size: $headline6;
    line-height: $headline6;
    @include breakpoint($small-only) {
        font-size: rem-calc(14);
    }
}
// headlines
h1 {
    @include h1;
}
h2 {
    @include h2;
}
h3 {
    @include h3;
}
h4 {
    @include h4;
}
h5 {
    @include h5;
}
h6 {
    @include h6;
}
