// site specific (demo purposes only)
//
body {
	background: $body-background;
}
main {
	padding-bottom: $medium-space;
}
.button {
	margin-bottom: ($small-space * 2);
}
.notification {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: $small-space $large-space;
	@include z-index(navigation);
	background-color: #323b43;
	border-bottom: 3px solid #222222;
	padding: $small-space;
	text-align: center;
	margin-bottom: ($small-space * 2);
	strong {
		font-weight: normal;
	}
	p {
		color: $primary;
		a {
			color: $primary;
		}
	}
	.fa {
		color: $primary;
	}
}

.grid {
	display: inline-block;
	width: 100%;
	margin-bottom: ($small-space * 2);
	.row {
		font-size: $body-font-size;
		line-height: 2rem;
		.columns {
			background: rgba($secondary, 0.2);
		}
	}
	.box {
		width: 120px;
		height: 150px;
		flex-wrap: wrap;
		background-color: rgba($primary, 10%);
		color: $primaryText;
		font-size: rem-calc(11);
		margin: ($small-space * 2);
		p {
			margin: 0;
		}
	}
	.row .columns:nth-child(even)  {
		background-color: rgba($secondary, 0.1);
	}
}

.showcase {
	background-color: rgba($secondary, 0.1);
	margin-top: $medium-space;
}

.switchLabel {
	display: block;
	margin-top: $small-space;
}

.control {
	margin-top: $small-space;
}
p {
	&.fade {
		cursor: pointer;
		+ span {
			color: $secondary;
			font-weight: bold;
			font-size: rem-calc(16);
		}
		&.show {
			+ span {
				@include fade(show);
			}
			&:hover {
				+ span {
					@include fade(hide);
				}
			}
		}
		&.hide {
			+ span {
				@include fade(hide);
			}
			&:hover {
				+ span {
					@include fade(show)
				}
			}
		}
	}
}
input {
	margin-bottom: ($small-space * 2);
}

.sandbox  {
	height: 280px;
	position: relative;
	width: 100%;
	display: inline-block;
	padding: $medium-space;
	.boxHolder {
		display: inline-block;
		width: 100%;
		height: 160px;
		position: relative;
	}
	.box {
		height: 100px;
		width: 100px;
		background-color: rgba($primary, 10%);
		color: $primaryText;
		font-size: rem-calc(11);
		padding: 0;
	}
}

.box {
	margin-top: ($xlarge-space / 2);
	padding: $large-space;
	&-inside {
		padding: ($small-space * 2);
	}
	&-inner {
		padding: ($small-space * 2);
		color: $body-font-color;
		p {
			color: #ffffff;
		}
	}
}
.buttons-links {
	strong:last-of-type {
		margin-top: $medium-space;
	}
	a:not(.button){
		.fab,
		.fal {
			font-size: rem-calc(18);
			margin-right: ($small-space * 2);
		}
	}
}
.headlines {
	p {
		margin-bottom: $large-space;
	}
}
.badgeHolder {
	.badge {
		margin-bottom: $small-space;
	}
}


// styling the body content and how the text flows

ul.layout-list {
    margin-bottom: $large-space;
    li {
        list-style-type: none;
        > strong {
            font-family: $header-font-family;
            color: $quaternary;
            font-size: rem-calc(22);
            font-weight: normal;
            span {
                opacity: 0.2;
            }
        }
        > ul {
            margin-left: $large-space;
            @media #{$small-only}{
                margin-left: 20px;
            }
            li {
                ul:not(.layout-list) {
                    li {
                        list-style-type: circle;
                    }
                }
                ol {
                    li {
                        list-style-type: decimal;
                    }
                }
            }
        }
        > p,
        > article {
            margin-left: $large-space;
        }
        > article {
            margin-top: $medium-space;
            margin-bottom: $medium-space;
        }
    }
    article {
        .row {
            strong {
                display: block;
                margin-bottom: ($small-space * 2);
            }
        }
    }
}
