section {
	&.header {
		.logo {
			width: 100%;
			max-width: 200px;
			margin: $medium-space 0 $small-space 0;
			+ p {
				color: $primary;
				margin-top: -($small-space * 2);
				margin-bottom: $large-space;
			}
		}
	}
}
