<div class="figure">
<img src="https://usecattlegrid.com/assets/images/logo-type-small.png" alt="Cattle Grid" /><p class="caption">Cattle Grid</p>
</div>
<p>Extremely lightweight, basic flex grid built from a simple mixin</p>
<h2 id="demo">Demo</h2>
<p><a href="https://usecattlegrid.com">Cattle Grid - Extremely Lightweight, Basic Flex CSS Grid Built From Simple Mixins</a></p>
<h2 id="getting-started">Getting Started</h2>
<p>Finally got around to building my own Simple CSS Framework after becoming too annoyed at the reliance on the likes of a Foundation &amp; Bootstrap. Foundation served me well for years, but it’s too bloated and too contaminated with elements that could be refactored and simplified. Which leads me to this! I now have my simple (under 50kb) responsive flex box grid + components which I’ve named the Cattle Grid</p>
<p>If you want just the css grid, grab <a href="https://gitlab.com/Ceryni/cattle-grid/blob/master/assets/scss/base/_grid.scss">_grid.scss</a> from assets/scss/base (under 25kb) and import it into your stylesheets! The repo for the entire codebase can be found over on <a href="https://gitlab.com/Ceryni/cattle-grid">Gitlab</a> and add this to your own project! Simple.</p>
<p>If you wish to use the entire project, the folder structure is very simple.</p>
<h4 id="base">Base</h4>
<p>General contains all files needed to set up a new site, from colours, helpers, form elements and mixins</p>
<h4 id="site">Site</h4>
<p>Site contains files related to the project you're about to build.</p>
<p><em>I use an autoprefixer on my scss!</em></p>
<hr />
<h3 id="defining-initial-variables">Defining Initial Variables</h3>
<pre><code>// base variables
$grid-gutter-small: $medium-space !default;
$grid-gutter-width: 30px;
$grid-gutter-medium: ($grid-gutter-width / 2);
$grid-max-width: $global-width + ($grid-gutter-medium * 2) !default;
$grid-columns: 12 !default;
// set your breakpoints
$breakpoint-small: 767px !default;
$breakpoint-medium: 992px !default;
$breakpoint-large: 1140px !default;
$breakpoint-xlarge: 1440px !default;


$global-width: $breakpoint-large;

// set your queries
$small : &#39;(min-width: 0)&#39;;
$small-only : &#39;(max-width: &#39; + $breakpoint-small + &#39;)&#39;;
$medium: &#39;(min-width: &#39; + ($breakpoint-small + 1) + &#39;)&#39;;
$medium-only: &#39;(min-width: &#39; + $breakpoint-small + &#39;) and (max-width: &#39; + ($breakpoint-medium - 1) + &#39;)&#39;;
$medium-down: &#39;(max-width: &#39; + ($breakpoint-medium) + &#39;)&#39;;
$large: &#39;(min-width: &#39; + $breakpoint-medium + &#39;)&#39;;
$large-only: &#39;(min-width: &#39; + $breakpoint-medium + &#39;) and (max-width: &#39; + ($breakpoint-xlarge - 1) + &#39;)&#39;;
$large-down: &#39;(max-width: &#39; + $breakpoint-large + &#39;)&#39;;
$xlarge: &#39;(min-width: &#39; + $breakpoint-xlarge + &#39;)&#39;;
$xlarge-down: &#39;(max-width: &#39; + $breakpoint-xlarge + &#39;)&#39;;
$xlarge-up: &#39;(min-width: &#39; + ($breakpoint-large + 1) + &#39;)&#39;;

// map your points
$breakpoints: (
    &#39;small&#39; $small,
    &#39;medium&#39; $medium,
    &#39;large&#39; $large,
    &#39;xlarge&#39; $xlarge,
) !default;</code></pre>
<h3 id="using-breakpoint-mixin">Using Breakpoint Mixin</h3>
<pre><code>@mixin breakpoint($media) {
    @media #{$media} {
        @content;
    }
}</code></pre>
<h3 id="using-grid-markup">Using Grid Markup</h3>
<pre><code>&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 large-3 columns&quot;&gt;column&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<hr />
<h2 id="extra-mixins-settings">Extra mixins &amp; Settings</h2>
<p>These are just tidbits that come in handy when starting out a new build!</p>
<h3 id="sizings">Sizings</h3>
<pre><code>$small-space: 5px;
$medium-space: 20px;
$large-space: 40px;
$xlarge-space: 60px;
$hundred: ($large-space + $xlarge-space);
$input-height: $large-space;
$border-radius: 3px;</code></pre>
<h3 id="text-alignments">Text Alignments</h3>
<p>To be able to align text left, right or centrally within the markup, there are 4 classes available!</p>
<p><em>To use</em></p>
<pre><code>&lt;div class=&quot;small-text-center medium-text-right large-text-left xlarge-text-center&quot;&gt;Align me!&lt;/div&gt;</code></pre>
<h3 id="atom-users">Atom Users!</h3>
<p>If you use Atom - this handy snippet allows for easy autofill of sizes! Be a faster dev</p>
<pre><code>&#39;.source.css.scss&#39;:
  &#39;rem&#39;:
    &#39;prefix&#39;: &#39;rem&#39;
    &#39;body&#39;: &#39;rem-calc($0);&#39;
  &#39;5px&#39;:
    &#39;prefix&#39;: &#39;5px&#39;
    &#39;body&#39;: &#39;$small-space&#39;;
  &#39;-5px&#39;:
    &#39;prefix&#39;: &#39;-5px&#39;
    &#39;body&#39;: &#39;-$small-space&#39;;
  &#39;10px&#39;:
    &#39;prefix&#39;: &#39;10px&#39;
    &#39;body&#39;: &#39;($small-space * 2)&#39;;
  &#39;-10px&#39;:
    &#39;prefix&#39;: &#39;-10px&#39;
    &#39;body&#39;: &#39;-($small-space * 2)&#39;;
  &#39;15px&#39;:
    &#39;prefix&#39;: &#39;15px&#39;
    &#39;body&#39;: &#39;($small-space * 3)&#39;;
  &#39;-15px&#39;:
    &#39;prefix&#39;: &#39;-15px&#39;
    &#39;body&#39;: &#39;-($small-space * 3)&#39;;
  &#39;20px&#39;:
    &#39;prefix&#39;: &#39;20px&#39;
    &#39;body&#39;: &#39;$medium-space&#39;;
  &#39;-20px&#39;:
    &#39;prefix&#39;: &#39;-20px&#39;
    &#39;body&#39;: &#39;-$medium-space&#39;;
  &#39;25px&#39;:
    &#39;prefix&#39;: &#39;25px&#39;
    &#39;body&#39;: &#39;($small-space * 5)&#39;;
  &#39;-25px&#39;:
    &#39;prefix&#39;: &#39;-25px&#39;
    &#39;body&#39;: &#39;-($small-space * 5)&#39;;
  &#39;30px&#39;:
    &#39;prefix&#39;: &#39;30px&#39;
    &#39;body&#39;: &#39;($xlarge-space / 2)&#39;;
  &#39;-30px&#39;:
    &#39;prefix&#39;: &#39;-30px&#39;
    &#39;body&#39;: &#39;-($xlarge-space / 2)&#39;;
  &#39;35px&#39;:
    &#39;prefix&#39;: &#39;35px&#39;
    &#39;body&#39;: &#39;($large-space - $small-space)&#39;;
  &#39;-35px&#39;:
    &#39;prefix&#39;: &#39;-35px&#39;
    &#39;body&#39;: &#39;-($large-space - $small-space)&#39;;
  &#39;40px&#39;:
    &#39;prefix&#39;: &#39;40px&#39;
    &#39;body&#39;: &#39;$large-space&#39;;
  &#39;-40px&#39;:
    &#39;prefix&#39;: &#39;-40px&#39;
    &#39;body&#39;: &#39;-$large-space&#39;;
  &#39;45px&#39;:
    &#39;prefix&#39;: &#39;45px&#39;
    &#39;body&#39;: &#39;($large-space + $small-space)&#39;;
  &#39;-45px&#39;:
    &#39;prefix&#39;: &#39;-45px&#39;
    &#39;body&#39;: &#39;-($large-space + $small-space)&#39;;
  &#39;50px&#39;:
    &#39;prefix&#39;: &#39;50px&#39;
    &#39;body&#39;: &#39;($small-space * 10)&#39;;
  &#39;-50px&#39;:
    &#39;prefix&#39;: &#39;-50px&#39;
    &#39;body&#39;: &#39;-($small-space * 10)&#39;;
  &#39;60px&#39;:
    &#39;prefix&#39;: &#39;60px&#39;
    &#39;body&#39;: &#39;$xlarge-space&#39;;
  &#39;-60px&#39;:
    &#39;prefix&#39;: &#39;-60px&#39;
    &#39;body&#39;: &#39;-$xlarge-space&#39;;
  &#39;70px&#39;:
    &#39;prefix&#39;: &#39;70px&#39;
    &#39;body&#39;: &#39;($xlarge-space + ($small-space * 2))&#39;;
  &#39;-70px&#39;:
    &#39;prefix&#39;: &#39;-70px&#39;
    &#39;body&#39;: &#39;-($xlarge-space + ($small-space * 2))&#39;;
  &#39;80px&#39;:
    &#39;prefix&#39;: &#39;80px&#39;
    &#39;body&#39;: &#39;($large-space * 2)&#39;;
  &#39;-80px&#39;:
    &#39;prefix&#39;: &#39;-80px&#39;
    &#39;body&#39;: &#39;-($large-space * 2)&#39;;
  &#39;90px&#39;:
    &#39;prefix&#39;: &#39;90px&#39;
    &#39;body&#39;: &#39;(($large-space * 2) + ($small-space * 2))&#39;;
  &#39;-90px&#39;:
    &#39;prefix&#39;: &#39;-90px&#39;
    &#39;body&#39;: &#39;-(($large-space * 2) + ($small-space * 2))&#39;;
  &#39;hover&#39;:
    &#39;prefix&#39;: &#39;hover&#39;
    &#39;body&#39;: &#39;&amp;:hover,\n&#39; +
       &#39;&amp;:focus, \n&#39; +
       &#39;&amp;:active {\n&#39; +
       &#39;$0\n&#39; +
       &#39;}&#39;;
  &#39;Small Query&#39;:
    &#39;prefix&#39;: &#39;small&#39;
    &#39;body&#39;: &#39;@media #{$small-only}{\n&#39; +
       &#39;$0\n&#39; +
       &#39;}&#39;;
  &#39;Medium Query&#39;:
    &#39;prefix&#39;: &#39;med&#39;
    &#39;body&#39;: &#39;@media #{$medium}{\n&#39; +
       &#39;$0\n&#39; +
       &#39;}&#39;;
&#39;.text.html.php&#39;:
  &#39;Create Row &amp; Column F6 Structure&#39;:
    &#39;prefix&#39;: &#39;row&#39;
    &#39;body&#39;: &#39;&lt;div class=&quot;row align-middle align-center&quot;&gt;\n&#39; +
                &#39;&lt;div class=&quot;col-12 col-md-12 col-lg-12&quot;&gt;\n&#39; +
                    &#39;$0\n&#39; +
                &#39;&lt;/div&gt;\n&#39; +
            &#39;&lt;/div&gt;&#39;;
  &#39;Create Row &amp; Column Bootatrap Structure&#39;:
    &#39;prefix&#39;: &#39;cont&#39;
    &#39;body&#39;: &#39;&lt;div class=&quot;container&quot;&gt;\n&#39; +
                &#39;&lt;div class=&quot;row align-middle align-center&quot;&gt;\n&#39; +
                    &#39;&lt;div class=&quot;col-12 col-md-12 col-lg-12&quot;&gt;\n&#39; +
                        &#39;$0\n&#39; +
                    &#39;&lt;/div&gt;\n&#39; +
                &#39;&lt;/div&gt;\n&#39; +
            &#39;&lt;/div&gt;&#39;;
  &#39;Var Dump&#39;:
    &#39;prefix&#39;: &#39;var_&#39;
    &#39;body&#39;: &#39;var_dump($0)&#39;;
&#39;.source.js&#39;:
  &#39;Console Log&#39;:
    &#39;prefix&#39;: &#39;console&#39;
    &#39;body&#39;: &#39;console.log(&quot;$0&quot;, )&#39;;
 &#39;Comment&#39;:
   &#39;prefix&#39;: &#39;comment&#39;
   &#39;body&#39;: &#39;// -----------------\n&#39; +
       &#39;// $0\n&#39; +
       &#39;// -----------------\n&#39;;</code></pre>
<h3 id="crayola">Crayola</h3>
<pre><code>$palette: (
    primary: #1C3C49,
    primaryText: #ffffff,
    secondary: #DDCEB1,
    secondaryText: #1C3C49,
    tertiary: #C19A37,
    tertiaryText: #1C3C49,
    quaternary: #518793,
    quaternaryText: #1C3C49,
    success: #4caf50,
    error: #f44336,
    alert: #ff9800,
    warning: #00bcd4,
    light-grey: #c4c5c5,
    dark-grey: #222222
);

// shorthand
$primary: map-get($palette, primary);
$primaryText: map-get($palette, primaryText);
$secondary: map-get($palette, secondary);
$secondaryText: map-get($palette, secondaryText);
$tertiary: map-get($palette, tertiary);
$tertiaryText: map-get($palette, tertiaryText);
$quaternary: map-get($palette, quaternary);
$quaternaryText: map-get($palette, quaternaryText);
$light: map-get($palette, light-grey);
$dark: map-get($palette, dark-grey);
$border: darken($lightGrey, 5%);

// notifications
$success: map-get($palette, success);
$error: map-get($palette, error);
$alert: map-get($palette, alert);
$warning: map-get($palette, warning);

// social
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #e1306c;
$pinterest: #bd081c;
$etsy: #d5641c;
$linkedin: #0077b5;
$buffer: #323b43;
$reddit: #ff4500;
$email: $primary;

// colours
$body-background: linear-gradient(90deg,#111A23,#{$primary});
$body-font-color: $secondary;
$anchor-font-color: $secondary;</code></pre>
<p><em>To use</em></p>
<pre><code>background-color: $primary;
color: $primaryText;</code></pre>
<h3 id="maps">Maps</h3>
<pre><code>//map networks
$config: (
    shades: (
        light: (
            colour: $light,
            text: $dark,
        ),
        dark: (
            colour: $dark,
            text: $light,
        ),
    ),
    notifications: (
        success: (
            colour: $success,
            text: #ffffff,
        ),
        error: (
            colour: $error,
            text: #ffffff,
        ),
        alert: (
            colour: $alert,
            text: #ffffff,
        ),
        warning: (
            colour: $warning,
            text: #ffffff,
        ),
    ),
    themes: (
        primary: (
            colour: $primary,
            text: $primaryText
        ),
        secondary: (
            colour: $secondary,
            text: $secondaryText,
        ),
        tertiary: (
            colour: $tertiary,
            text: $tertiaryText,
        ),
        quaternary: (
            colour: $quaternary,
            text: $quaternaryText,
        ),
    ),
    networks: (
        facebook: (
            colour: $facebook,
            text: #ffffff,
        ),
        twitter: (
            colour: $twitter,
            text: #ffffff,
        ),
        instagram: (
            colour: $instagram,
            text: #ffffff,
        ),
        pinterest: (
            colour: $pinterest,
            text: #ffffff,
        ),
        etsy: (
            colour: $etsy,
            text: #ffffff,
        ),
        linkedin: (
            colour: $linkedin,
            text: #ffffff,
        ),
        buffer: (
            colour: $buffer,
            text: #ffffff,
        ),
        reddit: (
            colour: $reddit,
            text: #ffffff,
        ),
        email: (
            colour: $primary,
            text: $body-font-color,
        )
    ),
);
</code></pre>
<p><em>To use</em></p>
<pre><code>// map through the themes
    @each $theme in map-keys(map-get($config, themes)) {
        &amp;.#{$theme} {
            @include button-bg(map-fetch($config, themes $theme colour ), map-fetch($config, themes $theme text ));
            &amp;.hollow {
                @include button-hollow(map-fetch($config, themes $theme colour ), map-fetch($config, themes $theme colour ));
            }
        }
    }
    // map through the networks
    @each $network in map-keys(map-get($config, networks)) {
        &amp;.#{$network} {
            @include button-bg(map-fetch($config, networks $network colour ), map-fetch($config, networks $network text ));
            &amp;.hollow {
                @include button-hollow(map-fetch($config, networks $network colour ), map-fetch($config, networks $network colour ));
            }
        }
    }
    // map through the notifications
    @each $notify in map-keys(map-get($config, notifications)) {
        &amp;.#{$notify} {
            @include button-bg(map-fetch($config, notifications $notify colour ), map-fetch($config, notifications $notify text ));
            &amp;.hollow {
                @include button-hollow(map-fetch($config, notifications $notify colour ), map-fetch($config, notifications $notify colour ));
            }
        }
    }
    // map through the shades
    @each $shade in map-keys(map-get($config, shades)) {
        &amp;.#{$shade} {
            @include button-bg(map-fetch($config, shades $shade colour ), map-fetch($config, shades $shade text ));
            &amp;.hollow {
                @include button-hollow(map-fetch($config, shades $shade colour ), map-fetch($config, shades $shade colour ));
            }
        }
    }</code></pre>
<h3 id="buttons">Buttons</h3>
<pre><code>@mixin button-bg($bg, $txt) {
    background: $bg;
    border: $bg;
    color: $txt;
    &amp;:hover,
    &amp;:focus,
    &amp;:active {
        background:darken($bg,10%);
        border:darken($bg, 10%);
        transition: all 0.3s ease;
    }
}
</code></pre>
<p><em>To use:</em></p>
<pre><code>@include button-bg(#000000, #ffffff);</code></pre>
<h3 id="hollow-buttons">Hollow Buttons</h3>
<pre><code>@mixin button-hollow($border, $txt) {
    background: transparent;
    border: 1px solid $border;
    color: $txt;
    &amp;:hover,
    &amp;:focus,
    &amp;:active {
        border: 1px solid darken($border, 10%);
        transition: all 0.3s ease;
        color: darken($txt, 10%);
    }
}</code></pre>
<p><em>To use:</em></p>
<pre><code>@include button-hollow(#000000, #000000);</code></pre>
<h3 id="pseudos">Pseudos</h3>
<pre><code>@mixin pseudo($display: block, $pos: absolute, $content: &#39;&#39;){
    content: $content;
    display: $display;
    position: $pos;
}</code></pre>
<p><em>To use:</em></p>
<pre><code>@include pseudo;</code></pre>
<h3 id="placeholders">Placeholders</h3>
<pre><code>@mixin input-placeholder {
    &amp;.placeholder { @content; }
    &amp;:-moz-placeholder { @content; }
    &amp;::-moz-placeholder { @content; }
    &amp;:-ms-input-placeholder { @content; }
    &amp;::-webkit-input-placeholder { @content; }
}</code></pre>
<p><em>To use:</em></p>
<pre><code>@include input-placeholder {
    color: $grey;
}</code></pre>
<h3 id="headlines">Headlines</h3>
<pre><code>@mixin heading {
    color: $body-font-color;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: ($small-space * 3);
    line-height: normal;
    font-family: $header-font-family;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@mixin h1 {
    @include heading;
    font-size: $headline1;
    @media #{$small-only}{
        font-size: rem-calc(30);
    }
}</code></pre>
<p><em>To use:</em></p>
<pre><code>@include h1;</code></pre>
<h3 id="font-sizes">Font sizes</h3>
<pre><code>// Rem Calc
@function rem-calc($font-size) {
    $rem-size: $font-size / 16;
    @return #{$rem-size}rem;
}
</code></pre>
<p><em>To use:</em></p>
<pre><code>font-size: rem-calc(12)</code></pre>
<h3 id="z-indexes">Z Indexes</h3>
<pre><code>$z-index: (
    modal: 200,
    navigation: 100,
    footer: 10,
    header: 50,
    main: 10,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}
@mixin z-index($key) {
    z-index: z-index($key);
}</code></pre>
<p><em>To use:</em></p>
<pre><code>@include z-index(header);</code></pre>
<h3 id="fades">Fades</h3>
<pre><code>@mixin fade($type) {
    @if $type == &#39;hide&#39; {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s;
    }
    @else if $type == &#39;show&#39; {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
    }
}</code></pre>
<p><em>To use:</em></p>
<pre><code>@include fade(hide)
@include fade(show)</code></pre>
<hr />
<h2 id="extends">Extends</h2>
<h3 id="alignment-positioning">Alignment &amp; Positioning</h3>
<pre><code>// align texts center
.text-center {
    text-align: center;
}
// .. left
.text-left {
    text-align: left;
}
// .. right
.text-right {
    text-align: right;
}
// Columns in a flex grid can be aligned horizontal or vertical inside of their parent.
// within a container, align items visually center
.align-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.align-stretch {
    display: flex;
    align-items: stretch;
}
.align-middle {
    display: flex;
    align-items: center;
}
.align-bottom {
    display: flex;
    align-items: flex-end;
}
.align-top {
    display: flex;
    align-items: flex-start;
}
.align-center {
    display: flex;
    justify-content: center;
}
.align-left {
    display: flex;
    justify-content: flex-start;
}
.align-right {
    display: flex;
    justify-content: flex-end;
}
.align-center {
    display: flex;
    justify-content: center;
}
.align-justify {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.align-spaced {
    display: flex;
    justify-content: space-around;
}
// Columns in a flex grid can be aligned horizontal or vertical individually also
// align a column within a row to the bottom
.align-self-bottom {
    align-self: flex-end;
}
// align a column within a row to the middle
.align-self-middle {
    align-self: center;
}
// align a column within a row to the top
.align-self-top {
    align-self: flex-start;
}
// Elements can be absolutely positioned inside of it&#39;s relative parent
// Horizontally centers the element
.horizontal-center {
    position: absolute;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
}
// Vertically centers the element
.vertical-center {
    position: absolute;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}
// Abolutely centers the element
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</code></pre>
<p><em>To use:</em></p>
<pre><code>@extend .align-all;
@extend .horizontal-center;
@extend .vertical-center;
@extend .absolute-center;

&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row align-all&quot;&gt;
        &lt;div class=&quot;small-12 medium-6 columns align-self-top&quot;&gt;column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 columns align-self-middle&quot;&gt; column&lt;/div&gt;
        &lt;div class=&quot;small-12 medium-6 columns align-self-bottom&quot;&gt;column&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;small-12 medium-4 columns align-self-top&quot;&gt;
            align-self-top
        &lt;/div&gt;
        &lt;div class=&quot;small-12 medium-4 columns align-self-middle&quot;&gt;
            align-self-middle
        &lt;/div&gt;
        &lt;div class=&quot;small-12 medium-4 columns align-self-bottom&quot;&gt;
            align-self-bottom
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;div class=&quot;small-12 columns&quot;&gt;
            &lt;div class=&quot;box horizontal-center align-all&quot;&gt;
                horizontal-center
            &lt;/div&gt;
            &lt;div class=&quot;box vertical-center align-all&quot;&gt;
                vertical-center
            &lt;/div&gt;
            &lt;div class=&quot;box absolute-center align-all&quot;&gt;
                absolute-center
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;small-12 medium-4 columns&quot;&gt;
            &lt;div class=&quot;box box-inside align-all&quot;&gt;
                &lt;div class=&quot;box-inner&quot;&gt;
                    &lt;p&gt;
                        align-all
                    &lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;small-12 medium-4 columns&quot;&gt;
            &lt;div class=&quot;box box-inside align-top&quot;&gt;
                &lt;div class=&quot;box-inner&quot;&gt;
                    &lt;p&gt;
                        align-top
                    &lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;small-12 medium-4 columns&quot;&gt;
            &lt;div class=&quot;box box-inside align-bottom&quot;&gt;
                &lt;div class=&quot;box-inner&quot;&gt;
                    &lt;p&gt;
                        align-bottom
                    &lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<hr />
<h2 id="authors">Authors</h2>
<ul>
<li><strong>Ceryni</strong> - <em>Initial work</em> - <a href="https://github.com/Ceryni173">Ceryni173</a></li>
</ul>
<h2 id="license">License</h2>
<p>This project is licensed under the MIT License - see the <a href="LICENSE.md">LICENSE.md</a> file for details</p>
<h2 id="acknowledgments">Acknowledgments</h2>
<ul>
<li>Inspired by Bootstrap markup</li>
</ul>
