// global
$body-font-size: rem-calc(16);
$body-font-line: rem-calc(24);
$headline1: rem-calc(40);
$headline2: rem-calc(30);
$headline3: rem-calc(25);
$headline4: rem-calc(20);
$headline5: rem-calc(18);
$headline6: rem-calc(16);

// basic colours
$body-background: #ffffff;
$body-font-color: #1e3643;

// change this for your own file paths
$assets: '/cattlegrid-wp/wp-content/themes/cattlegrid-wp/assets/images';
$body-font-family: 'Quicksand', sans-serif;
$header-font-family: 'Goudy Bookletter 1911', serif;

// basic sises
$input-height: $large-space;
$border-radius: $small-space;
$button-darken: 10%;
$button-transition: 0.3s;
$button-size: ($small-space * 10);
$lazy-load: 150px;

// hero sizes
$home-hero: 450px;
$home-hero-small: 620px;
$inner-hero: 600px;
$inner-hero-small: 350px;

// crayola
$palette: (
    primary: #1e3643,
    primaryText: #dcceb0,
    secondary: #284d5c,
    secondaryText: #dcceb0,
    tertiary: #dcceb0,
    tertiaryText: #1e3643,
    quaternary: #9e865a,
    quaternaryText: #ffffff,
    darkGrey: #dcceb0,
    darkGreyText: #1e3643,
    lightGrey: #f2e8d6,
    lightGreyText: #1e3643,
);

$notifications: (
    success: #86be48,
    error: #f44336,
    alert: #ff9800,
    warning: #00bcd4,
);

// social
$social: (
    facebook: #3b5998,
    twitter: #55acee,
    instagram: #e1306c,
    youtube: #ff0000,
    snapchat: #fffc00,
    pinterest: #e60023,
    etsy: #d5641c,
    reddit: #d5641c,
    buffer:#168eea,
);
