// Header specific styles here
nav{
	ul {
		margin: 0;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-top: -$medium-space;
		margin-bottom: $medium-space;
		@media #{$small-only}{
			display: none;
		}
		li {
			display: block;
			flex: 0 1 auto;
			list-style-type: none;
			display: inline-flex;
			font-family: $header-font-family;
			text-transform: lowercase;
			position: relative;
			a:not(.button) {
                font-size: rem-calc(16);
				color: $primary;
				position: relative;
				&:after {
					display: inline-block;
					content: "}";
					font-size: rem-calc(20);
					transform: rotate(90deg) translateX(-50%);
					position: absolute;
					left: 50%;
					top: auto;
					bottom: -($small-space * 5);
					width: ($small-space * 2);
					opacity: 0;
					height: 100%;
					transition: 0.3s ease all;
					color: $tertiary;
				}
				&:hover,
				&:focus,
				&:active {
					color: $secondary;
					&:after {
						opacity: 1;
						transition: 0.3s ease all;
					}
				}
			}
		}
	}
}
